node_modules
.env
uploads
routes
.DS_Store
.vscode
npm-debug.log
yarn-error.log
build
dist
coverage
.idea
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.next
out