.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: background-image 0.6s ease-in-out;
}



.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  max-width: 700px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: 0.3s;
}

.hero-btn:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #004d99;
}

.hero-btn.left {
  left: 20px;
}

.hero-btn.right {
  right: 20px;
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-btn {
    font-size: 1.5rem;
    padding: 6px 10px;
  }
}
